{#
/******************************************************************************/
/**                             PersonnaBundle                               **/
/** Auteur: viduc@mail.fr                                                    **/
/** github: https://github.com/viduc/personna-bundle                         **/
/** Licence: Apache 2.0                                                      **/
/******************************************************************************/
#}

<div class="col mb-5">
    <div class="card h-100">
        <img class="card-img-top" src="{{ personna.urlPhoto }}" alt="" />
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{ personna.prenom }} {{ personna.nom }}</h5>
                {{ personna.metier}}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Voir le personna</a></div>
        </div>
    </div>
</div>