{#
/******************************************************************************/
/**                             PersonnaBundle                               **/
/** Auteur: viduc@mail.fr                                                    **/
/** github: https://github.com/viduc/personna-bundle                         **/
/** Licence: Apache 2.0                                                      **/
/******************************************************************************/
#}
{% extends '@Personna/layout.html.twig' %}
{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% set object = {'photo': ''} %}
                {% set object = object|merge({'prenom': 'toto'}) %}
                {% set object = object|merge({'nom': 'tutu'}) %}
                {% set object = object|merge({'metier': 'blop'}) %}
                {% include '@Personna/personnas_card.html.twig' with {'personna': object} %}
            </div>
        </div>
    </section>
{% endblock %}